[submodule "JUCE-CmakeWrapper"]
	path = JUCE-CmakeWrapper
	url = https://github.com/benthevining/JUCE-CmakeWrapper
[submodule "Source/DSP_modules/Pitch-detector"]
	path = Source/DSP_modules/bv_PitchDetector
	url = https://github.com/benthevining/Pitch-detector
