---
default_language_version:
  python: python3

repos:

  # precommit configuration meta-checks
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  # git
  - repo: https://github.com/mattlqx/pre-commit-sign
    rev: v1.1.3
    hooks:
      - id: sign-commit

  # C++ code formatting & linting
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: v1.3.5
  #   hooks:
  #     - id: clang-format
  #       args: [--no-diff, --style=file, -i]
  #       additional_dependencies: [clang-format]
  #     # yamllint disable rule:line-length
  #     - id: cppcheck
  #       args: [--quiet, --inline-suppr, --std=c++20, --language=c++,
  #              --enable=warning, --enable=style, --enable=performance, --enable=portability,
  #              --suppress=unmatchedSuppression, --suppress=missingIncludeSystem, --suppress=unusedStructMember, --suppress=unreadVariable, --suppress=preprocessorErrorDirective]
  #     - id: cpplint
  #       args: [--verbose=0, "--filter=-whitespace,-legal,-build,-runtime/references,-readability/braces,-readability/todo"]
  #       additional_dependencies: [cpplint]
  #    # yamllint enable

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude_types: [cmake]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  # text and typos
  - repo: https://github.com/sirosen/texthooks
    rev: 0.4.0
    hooks:
      - id: fix-ligatures
      - id: fix-smartquotes
      - id: forbid-bidi-controls
  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.9.1
    hooks:
      - id: typos
        args: [--write-changes]

  # CMake
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--in-place]
    # - id: cmake-lint

  # check editorconfig rules
  # - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  #   rev: 2.4.0
  #   hooks:
  #     - id: editorconfig-checker
  #       always_run: true
